body {
  font: 10px sans-serif;
}

.button {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
  color: #333;
  height: 26px;
  line-height: 23px;
  padding-left: 9px;
  border: 1px solid #777;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: black;
}

.brush {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/* Div for sample highlight input and button */
#sample_selector {
    display: block;
    position: absolute;
    left: 400px;
    top: 100px !important;
    width: 50%;
}

/* Metadata overlay radio buttons */
#colorSelect {
  position: absolute;
  left: 100px;
  top: 570px !important;
  overflow: visible;
}

/* PCA selector */
#change_pca {
  left: 580px !important;
  top: 50px !important;
  width: 300px !important;
}
#change_pca_label {
  cursor: default;
  border: none;
  font-size: 16px !important;
  font-style: italic;
  left: 890px !important;
  top: 50px !important;
}

/* Reset button */
#resetButton {
  left: 400px !important;
  top: 50px !important;
}

/* Zoom button */
.brushButton {
  left: 470px !important;
  top: 50px !important;
}

.d3-tip {
    line-height: 1;
    font-size: 14px ;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);;
    color: #fff;
    border-radius: 2px;
    border: 1px solid black;
}

div.tooltip{
      @include default_large_text;
      padding: 8px;
      display: inline-block;
      max-width: 300px;
      z-index: 11000;
      position: absolute;
      color: #5a5a5a;
      background-color: #FFF;
      border: 1px solid #000;
      display:block;
      word-wrap: break-word;
}

/* PCA canvas */
.divForPCA {
  position: absolute;
  width: 800px;
  height: 500px;
  left: 300px;
  top: 10px !important;
}

/* Screeplot */
.divForBar {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 0px;
  top: 10px !important;
}

/* Sample legend */
.divForLegend {
  border: 2px solid black;
  border-spacing: 20px;
  padding: 20px;
  top: 10px !important;
}

/* Container for screeplot, PCA and legend */
#graphDiv {
  display: block;
  position: absolute;
  top: 150px; !important;
  width: 1360px !important;
  height: 500px !important;
}

